.header{
    background: linear-gradient(rgba(34, 36, 57, .7), rgba(34, 36, 57, .7)),
    url('/img/house-header/exterior.jpeg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: var(--color-light);

    &__nav{
        background: var(--color-2);
        padding: .5rem;
        
        ul{
            display: none;
        }
    }

    &__title{
        padding: 1rem;
        transform: translateY(30%);
        display: flex;
        flex-direction: column;

        h1{
            font-style: italic;
            margin-bottom: .5rem;
        }
    }
}