.header{
    background: linear-gradient(rgba(34, 36, 57, .7), rgba(34, 36, 57, .7)),
    url('/img/house-header/exterior.jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 768px){
        height: 90vh;
    }

    &__nav{
        background: var(--color-2);
        padding: .5rem;

        ul{
            display: none;
        }
    }

    &__title{
        padding: 1rem;
        display: flex;
        flex-direction: column;

        h1{
            font-style: italic;
            margin-bottom: .5rem;
        }
    }
}